
.header {
  display: flex;
  align-items: center;

  &__logo {
    font-weight: bold;
    font-size: 32px;
    white-space: nowrap;
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

}