.header{
  display: table;

  &__logo{
    font-weight: bold;
    font-size: 32px;
    display: table-cell;
    vertical-align: middle;
  }

  &__nav{
    display: table-cell;
    width:100%;
    text-align: right;
    float:right;
  }
  &__nav::after{
    content: "";
    clear:both;
    display: block;
  }

}