@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q4vje1');
  src:  url('fonts/icomoon.eot?q4vje1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q4vje1') format('truetype'),
    url('fonts/icomoon.woff?q4vje1') format('woff'),
    url('fonts/icomoon.svg?q4vje1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_up:before {
  content: "\e900";
}
.icon-keyboard_arrow_right:before {
  content: "\e913";
}
.icon-keyboard_arrow_left:before {
  content: "\e914";
}
.icon-keyboard_arrow_down:before {
  content: "\e915";
}
.icon-google:before {
  content: "\e901";
}
.icon-google+:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-facebook-f:before {
  content: "\e905";
}
.icon-long-arrow-up:before {
  content: "\e906";
}
.icon-long-arrow-down:before {
  content: "\e907";
}
.icon-arrow-circle-right:before {
  content: "\e908";
}
.icon-arrow-circle-left:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e90b";
}
.icon-arrow-down:before {
  content: "\e90c";
}
.icon-arrow-up:before {
  content: "\e90d";
}
.icon-bullhorn:before {
  content: "\e90e";
}
.icon-linkedin:before {
  content: "\e90f";
}
.icon-flask:before {
  content: "\e910";
}
.icon-cogs:before {
  content: "\e911";
}
.icon-gears:before {
  content: "\e911";
}
.icon-desktop:before {
  content: "\e912";
}

