@import "../variables";

.link{


  display: block;
  &_header{
    padding: 37px 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    color: $color-turquoise;
  }

  &:hover{
    color: $color-orange;
  }

}