@import "../variables";

.employee{
  &__photo{
    float: left;
  }
  &__title{
    font-size: 22px;
    font-weight: bold;
    color: $color-gray;
  }
  &__about{
    font-size:14px;
  }
  &__link{

  }
}