.navigation{
  list-style: none;
  &__item{
    display:inline-block;
    position: relative;
    padding-left: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    color: $color-turquoise;
  }

}